.stopBtn {
  border: 1px solid #b3aeae
}

.newBtn,
.sendBtn,
.textBtn {
  background: #83ABF7;
  cursor: pointer;
  color: white;
}

.newBtn:hover,
.sendBtn:hover,
.textBtn:hover {
  background: #699af7
}

.newBtn:disabled,
.sendBtn:disabled {
  background: white;
  color: #d7d7d7;
  cursor: default;
}

.headerRight {
  display: flex
}

.messagesContainer {
  border: 1px solid #ECE8E8;
  margin: 10px
}

.messageInputWrapper {
  margin: 10px;
}

.inputBox {
  border: 1px solid #b3aeae
}

.videoBtn {
  background: #9bbbf5
}

.strangerBox,
.youBox {
  margin-top: 12px;
}

.confirmBtn:hover {
  color: blue;
  /* border: 1px solid blue; */
}

.confirmBtn:disabled {
  color: rgb(180, 179, 179);
}

.termsBox {
  width: 50%;
}

.mobileHome {
  display: none;
}

@media (max-width:600px) {
  .stopBtn {
    border-top: 1px solid #b3aeae;
    border-right: 1px solid #b3aeae;
    border-bottom: none;
    border-left: none;
  }

  .headerRight {
    display: none
  }

  .rotatedText {
    display: none;
  }

  .logoWrapper {
    width: 100%;
    justify-content: center;
  }

  .messagesContainer {
    border: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #FFF7EE;
  }

  .sendBtn {
    display: none;
  }

  .messageInputWrapper {
    margin: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .inputBox {
    border-top: 1px solid #E7E5E5;
    border-left: 1px solid #E7E5E5;
    border-right: none;
    border-bottom: none;
    outline: none;
  }

  .strangerWrapper {
    display: flex;

  }

  .youWrapper {
    display: flex;
    justify-content: flex-end;
  }

  .strangerBox {
    border: 1px solid #DE6969;
    padding: 8px 6px;
    border-radius: 8px;
    background: linear-gradient(rgb(252, 236, 236) 10%, #DE6969 15%, white 20%);
    margin-top: 0;
  }

  .youBox {
    border: 1px solid #7F7ADE;
    padding: 8px 6px;
    border-radius: 8px;
    background: linear-gradient(rgb(237, 237, 253) 10%, #7F7ADE 15%, white 20%);
    margin-top: 0;
  }

  .messageBy {
    display: none;
  }

  .loadingText {
    text-align: center;
  }

  .connectedText {
    text-align: center;
  }

  .disconnectText {
    text-align: center;
  }

  .disconnectText2 {
    justify-content: center;
  }

  .welcomeText {
    text-align: center;
  }

  .startBtnSmall {
    margin: 0 auto;
  }

  .termsBox {
    width: 100%;
  }

  .homeDesktop {
    display: none
  }

  .mobileHome {
    display: block;
  }
}